body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: "Andale Mono", monospace;
    font-size: 15px;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }